<h1>Test App</h1>

<p><a href="{{ urlprefix }}/info/">BFlow Info Page</a></p>
<p><a href="{{ urlprefix }}/links/">Links</a></p>
<p><a href="{{ urlprefix }}/callfunction/">Call Function Test</a></p>
<p><a href="{{ urlprefix }}/postmessage/">Post Message Test Basic</a></p>
<p><a href="{{ urlprefix }}/postmessage_subframe/">Post Message Test Subframe Attack</a></p>
<p><a href="{{ urlprefix }}/fid_test/">FID test</a></p>
<p><a href="{{ urlprefix }}/storage_test/">Storage test</a></p>
<p><a href="{{ urlprefix }}/augment_label/">Augment label test</a></p>

