
<p>
This is for testing the storage system using queries from the
"testapp", not "storage" application.
</p>

<p>
<form action="{{ storage_prefix }}/put/" method="POST">
<table>
<tr>
<td>Key</td>
<td><input type="text" name="key"></td>
</tr>

<tr>
<td>Val</td>
<td><input type="text" name="val"></td>
</tr>
</table>

<input type="submit" name="submit" value="Put">
</form>

<form action="{{ storage_prefix }}/get/" method="GET">
<input type="text" name="key">
<input type="submit" name="submit" value="Get">
</form>
</p>