<!-- BEGIN CBOX - www.cbox.ws - v001 -->
<div id="cboxdiv" style="text-align: center; line-height: 0">

<div><iframe frameborder="0" marginheight="2" marginwidth="2" height="250" src="{{ urlprefix }}/cbox_main/" id="cboxmain" scrolling="auto" style="border:#DBE2ED 1px solid;" width="200" allowtransparency="yes" name="cboxmain"></iframe></div>

<div><iframe frameborder="0" marginheight="2" marginwidth="2" height="75" src="{{ urlprefix }}/cbox_form/" id="cboxform" scrolling="no" style="border:#DBE2ED 1px solid;border-top:0px" width="200" allowtransparency="yes" name="cboxform"></iframe></div>

</div>

urlprefix: {{ urlprefix }}<br>
<a href="{{ urlprefix }}/cbox_css/">CSS</a><br>
<a href="{{ urlprefix }}/cbox_js/">JS</a><br>

<iframe height="200" width="500" src="{{ urlprefix }}/cbox_frametest1/"></iframe>
